@tailwind base;
@tailwind components;
@tailwind utilities;



.logo {
    width: 250px;
    height: 40px;
}

.links-navegacao {
    display: flex;

}

.links-navegacao a {
    padding: 0px 0 0px 0;
    margin-right: 30px;
    font-size: 20px;
    text-decoration: none;
    color: black;
    font-weight: 900;
    font-family: 'Inter', sans-serif;
    transition: color 0.3s;
}

.limitador {
    margin-left: 15%;
    margin-right: 15%;
}

.links-navegacao a:hover {
    color: aqua;
    /* Define a cor para aqua quando o mouse estiver sobre o link */
}

@media screen and (min-width:800px) and (max-width: 1100px) {
    .logo {
        width: 150px;
        height: 35px;
    }

    .limitador {
        margin-left: 5%;
        margin-right: 5%;
    }
}

@media screen and (min-width:360px) and (max-width:500px) {
    .logo {
        width: 120px;
        height: 25px;
    }

    .barra-navegacao {
        display: flex;
        flex-direction: column;
    }

    .limitador {
        margin-left: 0;
        margin-right: 0;
    }

    .links-navegacao a {
        padding: 10px 0 0px 0;
        margin-right: 10px;
        font-size: 16px;
        text-decoration: none;
        color: white;
        font-weight: 900;
        font-family: 'Inter', sans-serif;
        transition: color 0.3s;
    }
}